# Comment Lines
.ipynb_checkpoints/
*.db
hello*.log
gh*.txt
example.txt
log_example.txt
test_graphic.gif
Python Advanced Topics Student Notebook.ipynb
Learning Python 3 - Statements and Syntax.ipynb
Learning Python 6 - Classes and Objects.ipynb
